[settings]
profile = black
multi_line_output = 3
line_length = 120
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
ensure_newline_before_comments = True
skip_glob = [
    "*/migrations/*",
    "*/venv/*",
    "*/.venv/*",
    "*/node_modules/*",
    "*/tests/*",
    "*/test_*/*",
    "*/settings/*",
    "manage.py",
]
known_django = django
known_first_party = cercollettiva,core,energy,documents,cer,users
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY
